{% extends 'heritage.html.twig' %}

{% block body %}
<h1 style="text-align: center; color: #459dd3"> TODO list :</h1>
<br>
<ol class="list_group" >
    {% for name, content in app.session.get('todo') %}

        <li class="list-group-item" style="text-align: center">
            {{ name }} : {{ content }}
        </li>
    {% endfor %}

</ol>

{% endblock %}
{% block title %} ColoredTab {% endblock %}