{% extends 'heritage.html.twig' %}

{% block title %}Login Page{% endblock %}

{% block body %}
   <div class="container">
    <h1>Welcome to our Page </h1>
       <p>Please login or sign up </p>
       <ol>
           <li><a href="">Login</a></li>
           <li><a href=""></a>Sign Up</li>
       </ol>
   </div>
{% endblock %}
