{% extends 'heritage.html.twig' %}

{% block body %}
  <div class="alert alert-success">
      {{ personne.lastname }} {{ personne.name }} a {{ personne.age }}
  </div>
{% endblock %}

{% block title %}
PersoneDetails
{% endblock %}

